<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>!Boggle</title>
    <meta name="description" content="Boggle Board Game" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <style>
      body {
        font-family: "Manrope", sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>{% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/boggle.js"></script>
</html>
